a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.gray {
  background-color: #f2f2f2;
}

table.table-fit {
  width: auto !important;
  table-layout: auto !important;
}

  table.table-fit thead th, table.table-fit tfoot th {
    width: auto !important;
  }

  table.table-fit tbody td, table.table-fit tfoot td {
    width: auto !important;
  }

.gray {
  background-color: #f2f2f2;
}

.whitelistChip {
  background-color: aquamarine;
}

.blacklistChip {
  background-color: firebrick;
}
