<table>
  <tr>
    <td style="vertical-align: top">
      <mat-accordion>
        <mat-expansion-panel hideToggle *ngFor="let classVm of classViewModels" (opened)="onClassClick(classVm)" (closed)="onClassClick(undefined)">
          <mat-expansion-panel-header>
            <mat-panel-title><h3>Class: {{ classVm.classData.name }} - {{ classVm.qualificationPositions.length }} partcipants</h3></mat-panel-title>
          </mat-expansion-panel-header>

          <table class="table">
            <thead>
              <tr>
                <th></th>
                <th scope="col">Name</th>
                <th scope="col">Best time</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let participant of classVm.qualificationPositions" [ngClass]="{'removedQualifier': participant.isRemoved}">
                <td>{{ participant.qualifyingPosition }}.</td>
                <td>{{ participant.racerId }}</td>
                <td>{{ participant.bestTime | number: '1.5-5' }}</td>
              </tr>
            </tbody>
          </table>

        </mat-expansion-panel>
      </mat-accordion>
    </td>
    <td style="vertical-align: top">
      <canvas width="500" height="500" #canvas style="margin: 10px"></canvas>
    </td>
  </tr>
</table>
