<h1 id="tableLabel">Drag Results</h1>

<div *ngIf="eventList.length > 0">
  <mat-form-field appearance="fill">
    <mat-label>Select event</mat-label>
    <mat-select [(value)]="selectedEventId" name="event" (selectionChange)="onSelectedEventChange()">
      <mat-option [value]="null">ALL EVENTS</mat-option>
      <mat-option *ngFor="let event of eventList" [value]="event.id">{{ event.name }}</mat-option>
    </mat-select>
  </mat-form-field>
</div>

<mat-tab-group animationDuration="0ms">
  <mat-tab label="Event info" *ngIf="selectedEventId != undefined">
    <competition-eventInfo></competition-eventInfo>
  </mat-tab>

  <mat-tab label="Qualifications" *ngIf="selectedEventId != undefined">
    <competition-qualification></competition-qualification>
  </mat-tab>

  <mat-tab label="Results">
    <competition-results></competition-results>
  </mat-tab>

  <mat-tab label="Options">
    <competition-options></competition-options>
  </mat-tab>
</mat-tab-group>
