a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.gray {
  background-color: #f2f2f2;
}

.table-fit {
  width: auto !important;
  table-layout: auto !important;
}

  .table-fit thead th, table.table-fit tfoot th {
    width: auto !important;
  }

  .table-fit tbody td, table.table-fit tfoot td {
    width: auto !important;
  }

.result-table td {
  padding: 0px 3px 0px 3px;
}

.result-table th {
  padding: 0px 3px 0px 3px;
}

.gray {
  background-color: #f2f2f2;
}

.whitelistChip {
  background-color: aquamarine;
}

.blacklistChip {
  background-color: firebrick;
}

.example-element-detail {
    overflow: hidden;
    display: flex;
}

.example-element-row td {
    border-bottom-width: 0;
}

tr.example-detail-row {
    height: 0;
}

/*.mat-row, .mat-header-row {
  width: 450vw;
}

.mat-header-row {
  position: -webkit-sticky;
  top: 0;
  z-index: 1;
  background-color: inherit;
}

.result-table {
  overflow: auto;
}*/
