@page "/results"
@inherits ResultsBase
@using CompetitionViewer.Services

<h1>Results</h1>

<p>This component demonstrates fetching data from a service.</p>

@if (RaceResults == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <CompetitionViewer.Web.Components.RaceDataGrid RaceResults="RaceResults" />
}